# Kaggle Competition: Titanic Survival

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [4]:
cd /content/drive/My Drive/Titanic-DecisionTree/home/workspace

/content/drive/My Drive/Titanic-DecisionTree/home/workspace

In [6]:
# Import libraries necessary for this project
import numpy as np
import pandas as pd
from IPython.display import display # Allows the use of display() for DataFrames

# Pretty display for notebooks
%matplotlib inline

# Set a random seed
import random
random.seed(42)

# Load the dataset
train_data = 'train.csv'
test_data = 'test.csv'

pd_train_data = pd.read_csv(train_data)
pd_test_data = pd.read_csv(test_data)

# Print the first few entries of the RMS Titanic data

In [7]:
pd_train_data

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [8]:
pd_test_data

     PassengerId  Pclass  ... Cabin Embarked
0            892       3  ...   NaN        Q
1            893       3  ...   NaN        S
2            894       2  ...   NaN        Q
3            895       3  ...   NaN        S
4            896       3  ...   NaN        S
..           ...     ...  ...   ...      ...
413         1305       3  ...   NaN        S
414         1306       1  ...  C105        C
415         1307       3  ...   NaN        S
416         1308       3  ...   NaN        S
417         1309       3  ...   NaN        C

[418 rows x 11 columns]

Recall that these are the various features present for each passenger on the ship:
- **Survived**: Outcome of survival (0 = No; 1 = Yes)
- **Pclass**: Socio-economic class (1 = Upper class; 2 = Middle class; 3 = Lower class)
- **Name**: Name of passenger
- **Sex**: Sex of the passenger
- **Age**: Age of the passenger (Some entries contain `NaN`)
- **SibSp**: Number of siblings and spouses of the passenger aboard
- **Parch**: Number of parents and children of the passenger aboard
- **Ticket**: Ticket number of the passenger
- **Fare**: Fare paid by the passenger
- **Cabin** Cabin number of the passenger (Some entries contain `NaN`)
- **Embarked**: Port of embarkation of the passenger (C = Cherbourg; Q = Queenstown; S = Southampton)

Since we're interested in the outcome of survival for each passenger or crew member, we can remove the **Survived** feature from this dataset and store it as its own separate variable `target`. We will use these outcomes as our prediction targets.  
Run the code cell below to remove **Survived** as a feature of the dataset and store it in `outcomes`.

In [10]:
# Store the 'Survived' feature in a new variable and remove it from the dataset
target = pd_train_data['Survived']
train_features = pd_train_data.drop('Survived', axis = 1)

# Show the new dataset with 'Survived' removed
display(train_features.head())

   PassengerId  Pclass  ... Cabin Embarked
0            1       3  ...   NaN        S
1            2       1  ...   C85        C
2            3       3  ...   NaN        S
3            4       1  ...  C123        S
4            5       3  ...   NaN        S

[5 rows x 11 columns]



## Preprocessing the data

Now, let's do some data preprocessing. First, we'll remove the names of the passengers

In [11]:
# Removing the names
features_no_names = train_features.drop(['Name'], axis=1)
test_no_names = pd_test_data.drop(['Name'], 1)


list(features_no_names.select_dtypes(['object']).columns)

['Sex', 'Ticket', 'Cabin', 'Embarked']

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
test_no_names.head()

   PassengerId  Pclass     Sex   Age  ...   Ticket     Fare Cabin  Embarked
0          892       3    male  34.5  ...   330911   7.8292   NaN         Q
1          893       3  female  47.0  ...   363272   7.0000   NaN         S
2          894       2    male  62.0  ...   240276   9.6875   NaN         Q
3          895       3    male  27.0  ...   315154   8.6625   NaN         S
4          896       3  female  22.0  ...  3101298  12.2875   NaN         S

[5 rows x 10 columns]

In [14]:
encoder=LabelEncoder()

In [15]:
features_no_names['Sex'] = encoder.fit_transform(features_no_names['Sex'])
# Now lets replicate it for all object types.
features_no_names['Ticket'] = encoder.fit_transform(features_no_names['Ticket'])
features_no_names['Cabin'] = features_no_names['Cabin'].astype(str)
features_no_names['Embarked'] = features_no_names['Embarked'].astype(str)
features_no_names['Cabin'] = encoder.fit_transform(features_no_names['Cabin'])
features_no_names['Embarked'] = encoder.fit_transform(features_no_names['Embarked'])

In [16]:
# # Encoding test data
test_no_names['Sex'] = encoder.fit_transform(test_no_names['Sex'])
test_no_names['Ticket'] = encoder.fit_transform(test_no_names['Ticket'])
test_no_names['Cabin'] = test_no_names['Cabin'].astype(str)
test_no_names['Embarked'] = test_no_names['Embarked'].astype(str)
test_no_names['Cabin'] = encoder.fit_transform(test_no_names['Cabin'])
test_no_names['Embarked'] = encoder.fit_transform(test_no_names['Embarked'])

In [17]:
features_no_names.head()

   PassengerId  Pclass  Sex   Age  ...  Ticket     Fare  Cabin  Embarked
0            1       3    1  22.0  ...     523   7.2500    147         2
1            2       1    0  38.0  ...     596  71.2833     81         0
2            3       3    0  26.0  ...     669   7.9250    147         2
3            4       1    0  35.0  ...      49  53.1000     55         2
4            5       3    1  35.0  ...     472   8.0500    147         2

[5 rows x 10 columns]

In [18]:
features_no_names.fillna(0.0, inplace=True)
test_no_names.fillna(0.0, inplace=True)

## Training the model

Now we're ready to train a model in sklearn.

In [19]:
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import StandardScaler

scaled_data = StandardScaler()

In [20]:
scaled_train_features = scaled_data.fit_transform(features_no_names)

In [22]:
# Import the classifier from sklearn
from sklearn.ensemble import RandomForestClassifier


forest_model = RandomForestClassifier(max_depth=7, min_samples_split=5, n_estimators = 500, random_state=42)

scores = cross_val_score(forest_model, features_no_names, outcomes, cv=10, scoring='accuracy').mean()
print(scores)

0.835043695380774

In [23]:
forest_model.fit(scaled_train_features, target)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=7, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=5,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [24]:
scaled_test_features = scaled_data.transform(test_no_names)

In [25]:
y_train_pred = forest_model.predict(scaled_train_features)
y_test_pred = forest_model.predict(scaled_test_features)

In [26]:
y_test_pred

array([0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1])

In [27]:
Pass_id = test_no_names['PassengerId']

In [30]:
submission = pd.DataFrame({
        "PassengerId": Pass_id,
        "Survived": y_test_pred
    })

submission.to_csv('submission.csv', index=False)